In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
os.listdir("./")

['.ipynb_checkpoints', 'Groceries_dataset.csv', 'Untitled.ipynb']

In [3]:
df = pd.read_csv("./Groceries_dataset.csv")

# KIỂM TRA THÔNG TIN

- kiểm tra số các thuộc tính và quan sát

In [4]:
df.info()
# có 38765 quan sát và 3 thuộc tính: member_number, Date, itemDescription

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

- xem 5 dòng đầu tiên

In [5]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

- kiểm tra xem có thuộc tính nào null không

In [6]:
df.isnull().sum()
# không có dữ liệu null

Member_number      0
Date               0
itemDescription    0
dtype: int64

- lọc các thông về người dùng có id là 2300

In [7]:
user_2300_info = df[df['Member_number']==2300]
user_2300_info.sort_values(by='Date')

       Member_number        Date           itemDescription
5642            2300  05-08-2015               frankfurter
21791           2300  05-08-2015  long life bakery product
9820            2300  16-03-2014                      pork
25969           2300  16-03-2014     fruit/vegetable juice
2               2300  19-09-2015                 pip fruit
16151           2300  19-09-2015          other vegetables
36090           2300  19-09-2015                     flour
5354            2300  28-04-2015                   sausage
21503           2300  28-04-2015                white wine
36538           2300  28-04-2015          hygiene articles

- lấy thông tin người dùng id là 1234 và 4321

In [8]:
df[(df['Member_number']==1234) | (df['Member_number']==4321)].sort_values(by=["Date",'Member_number'])

       Member_number        Date  itemDescription
2888            4321  08-05-2015             curd
7285            4321  08-05-2015      frankfurter
19037           4321  08-05-2015      white bread
23434           4321  08-05-2015        pip fruit
34949           4321  08-05-2015          waffles
14039           1234  12-05-2014             curd
30188           1234  12-05-2014           pastry
6174            4321  12-09-2015          sausage
22323           4321  12-09-2015       newspapers
14174           4321  13-08-2014           grapes
30323           4321  13-08-2014  misc. beverages
13617           4321  14-01-2014           yogurt
29766           4321  14-01-2014             soda
10930           1234  14-04-2014           yogurt
27079           1234  14-04-2014    shopping bags
34337           1234  14-04-2014           coffee
12363           1234  16-03-2014  root vegetables
28512           1234  16-03-2014        margarine
38589           1234  16-03-2014    bottled water
907             1234  20-11-2015      salty snack
17056           1234  20-11-2015  root vegetables
2860            4321  27-10-2015      salty snack
7257            4321  27-10-2015        pip fruit
19009           4321  27-10-2015          chicken
23406           4321  27-10-2015       rolls/buns
34921           4321  27-10-2015   red/blush wine
1000            4321  29-01-2015   tropical fruit
17149           4321  29-01-2015        chocolate

- kiểm tra các mặt hàng không trùng lặp

In [9]:
df.itemDescription.unique()

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter',
       'chicken', 'butter', 'fruit/vegetable juice',
       'packaged fruit/vegetables', 'chocolate', 'specialty bar',
       'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread',
       'hamburger meat', 'root vegetables', 'pork', 'pastry',
       'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham',
       'turkey', 'curd cheese', 'red/blush wine',
       'frozen potato products', 'flour', 'sugar', 'frozen meals',
       'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish',
       'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'dog food', 'specialty chocolate', 'condensed milk', 'cleaner',
       'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ',
       'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk',
       'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs',
       'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream',
       'frozen vegetables', 'sliced cheese', 'dish cleaner',
       'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'pet care', 'white bread',
       'female sanitary products', 'cling film/bags', 'soap',
       'frozen chicken', 'house keeping products', 'spread cheese',
       'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes',
       'potato products', 'frozen fish', 'hygiene articles',
       'artif. sweetener', 'light bulbs', 'canned vegetables',
       'chewing gum', 'canned fish', 'cookware', 'semi-finished bread',
       'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf',
       'zwieback', 'canned fruit', 'frozen fruits', 'brandy',
       'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum',
       'chocolate marshmallow', 'long life bakery product', 'bags',
       'sweet spreads', 'soups', 'mustard', 'specialty fat',
       'instant coffee', 'snack products', 'organic sausage',
       'soft cheese', 'mayonnaise', 'dental care', 'roll products ',
       'kitchen towels', 'flower soil/fertilizer', 'cereals',
       'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky',
       'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur',
       'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care',
       'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener',
       'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil',
       'flower (seeds)', 'rice', 'tea', 'salad dressing',
       'specialty vegetables', 'pudding powder', 'ready soups',
       'make up remover', 'toilet cleaner', 'preservation products'],
      dtype=object)

In [10]:
len(df.itemDescription.unique())

167

# Tiền xử lý dữ liệu

- kiểm tra các thành phần trùng lặp

In [11]:
df[df.duplicated]

       Member_number        Date   itemDescription
5015            2051  11-09-2015       frankfurter
5022            3055  18-08-2015  other vegetables
5044            1994  11-03-2015        whole milk
5055            1682  25-06-2015         pip fruit
5059            4324  05-01-2015           sausage
...              ...         ...               ...
38614           2027  26-02-2014     domestic eggs
38684           2936  07-03-2014        newspapers
38685           2311  13-03-2014        pot plants
38722           3834  18-05-2014       salty snack
38723           1146  23-05-2014            yogurt

[759 rows x 3 columns]

In [12]:
# Quan sát user với id=2051 thấy có sự trùng lặp
df[df['Member_number']==2051].sort_values(by='itemDescription')

       Member_number        Date           itemDescription
8116            2051  14-11-2015                      beef
7598            2051  23-07-2015                 beverages
20823           2051  20-04-2015               brown bread
4564            2051  14-11-2015               canned beer
34748           2051  02-01-2015              cocoa drinks
24265           2051  14-11-2015                    coffee
37603           2051  01-05-2014             cream cheese
19590           2051  02-01-2015             domestic eggs
33052           2051  01-05-2014                     flour
4004            2051  11-09-2015               frankfurter
5015            2051  11-09-2015               frankfurter
7952            2051  23-07-2015     fruit/vegetable juice
36199           2051  11-09-2015          hygiene articles
23747           2051  23-07-2015                 ice cream
16054           2051  11-09-2015  long life bakery product
10083           2051  20-01-2014                      meat
32805           2051  03-12-2014                newspapers
20153           2051  11-09-2015                newspapers
18370           2051  23-07-2015          other vegetables
24375           2051  20-04-2015          other vegetables
29434           2051  03-12-2014          other vegetables
2221            2051  23-07-2015          other vegetables
3441            2051  02-01-2015                photo/film
21164           2051  11-09-2015                 pip fruit
8226            2051  20-04-2015                      pork
8554            2051  23-07-2015                  prosecco
13285           2051  03-12-2014                rolls/buns
26232           2051  20-01-2014                rolls/buns
24703           2051  23-07-2015           root vegetables
24101           2051  23-07-2015                      soda
32203           2051  11-09-2015        whipped/sour cream
4674            2051  20-04-2015                whole milk
20713           2051  14-11-2015                whole milk

In [13]:
# loại bỏ trùng lặp
df = df.drop_duplicates(keep='first')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38006 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38006 non-null  int64
 1   Date             38006 non-null  object
 2   itemDescription  38006 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [15]:
# tách date -> thành day/month/year/
datetime_ = df['Date'].str.split('-',expand=True)
df['day'] = datetime_[0]
df['month'] = datetime_[1]
df['year'] = datetime_[2]

In [16]:
df = df.drop(['Date'],axis=1)

In [17]:
month_change = {"01":"Jan","02":"Feb","03":"Mar","04":"Apr","05":"May","06":"Jun","07":"Jul","08":"Aug","09":"Sep",
               "10":"Oct","11":"Nov","12":"Dec"}
df['month'] = df.month.apply(lambda x: month_change[x])

In [18]:
z = df[df['month']=="Jan"]

In [19]:
z

       Member_number           itemDescription day month  year
1               2552                whole milk  05   Jan  2015
27              1420          other vegetables  14   Jan  2015
29              4918                    yogurt  27   Jan  2015
37              1495           root vegetables  09   Jan  2015
59              1967          other vegetables  20   Jan  2015
...              ...                       ...  ..   ...   ...
38665           3430                   vinegar  12   Jan  2014
38699           4759         frozen vegetables  24   Jan  2014
38714           2174             domestic eggs  05   Jan  2014
38726           3998  long life bakery product  08   Jan  2014
38734           1438             shopping bags  19   Jan  2014

[3250 rows x 5 columns]

In [20]:
combinacoes = z.groupby(['Member_number','day']).agg({"itemDescription":list}).reset_index()

In [21]:
combinacoes

      Member_number day                                    itemDescription
0              1001  20            [frankfurter, soda, whipped/sour cream]
1              1003  19                        [frozen meals, dental care]
2              1005  09                                       [rolls/buns]
3              1005  23                    [whipped/sour cream, margarine]
4              1009  24                        [canned fish, cocoa drinks]
...             ...  ..                                                ...
1280           4987  07           [condensed milk, waffles, domestic eggs]
1281           4991  20               [processed cheese, hygiene articles]
1282           4993  21                           [chocolate, brown bread]
1283           4997  05                          [whole milk, canned beer]
1284           4999  24  [tropical fruit, berries, other vegetables, yo...

[1285 rows x 3 columns]

In [22]:
combinacoes_list = combinacoes['itemDescription'].tolist()

In [23]:
from apyori import apriori

In [24]:
rules = apriori(combinacoes_list, min_support=0.001, min_confidence=0.05, min_lift=1.2, min_length=2, max_length=2)

In [25]:
results = list(rules)
def inspect(results):
    lhs = [tuple(result[2][0][0])[0] for result in results]
    rhs = [tuple(result[2][0][1])[0] for result in results]
    support = [result[1]*100 for result in results]
    confidence = [result[2][0][2]*100 for result in results]
    lift = [result[2][0][3] for result in results]
    return list(zip(lhs,rhs,support,confidence,lift))
final_result = pd.DataFrame(inspect(results), columns=['Product 1','Product 2','Support(%)','Confidence(%)','lift'])
#test_ = list(final_result['Product 1'],final_result['Product 2'])
final_result['Rule'] = final_result['Product 1'] + '->' + final_result['Product 2']

In [26]:
final_result

,Product 1,Product 2,Support(%),Confidence(%),lift,Rule
0,Instant food products,pastry,0.155642,28.571429,5.648352,Instant food products->pastry
1,UHT-milk,bottled beer,0.155642,8.695652,2.031621,UHT-milk->bottled beer
2,UHT-milk,frankfurter,0.155642,8.695652,2.280390,UHT-milk->frankfurter
3,UHT-milk,meat,0.155642,8.695652,3.990683,UHT-milk->meat
4,UHT-milk,misc. beverages,0.155642,8.695652,5.586957,UHT-milk->misc. beverages
...,...,...,...,...,...,...
336,specialty bar,tropical fruit,0.155642,12.500000,1.690789,specialty bar->tropical fruit
337,specialty bar,whole milk,0.389105,31.250000,2.158938,specialty bar->whole milk
338,specialty cheese,whole milk,0.155642,50.000000,3.454301,specialty cheese->whole milk
339,specialty chocolate,white bread,0.233463,15.000000,5.354167,specialty chocolate->white bread
340,white bread,whole milk,0.622568,22.222222,1.535245,white bread->whole milk